body {
  font-family: sans-serif;
}

.parent {
  display: grid;
  grid-template-columns: auto auto;
  gap: 15px;
}

.child {
  background: aliceblue;
  width: 100%;
  text-align: center;
  padding: 5px;
  cursor: pointer;
}
